.home_div{
    width: 100%;
    height: 100vh;
   background-image: url("https://i.postimg.cc/RCLRH1V1/development-4536630-1280.png");
   object-fit: cover;
   background-repeat:no-repeat ;
   background-size: cover;
}












.home_content{
    width: 100%;
    height: 100%;
    background-color: rgba(66, 77, 91, 0.9);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 100px;
}
.my_name_tag{
    font-size: 40px;
    color: var(--beauty-color);
}
.home_content h1{
    font-size: 90px;
    color: var(--primary-color);
}
.contact_btn{
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 2px solid var(--beauty-color);
    border-radius: 1rem;
    font-size: 20px;
    color:var(--primary-color);
}
.contact_btn:hover{
  border: none;
  background-color: var(--primary-color);
  color: var(--beauty-color);
}
hr{
    width: 70px;
    height: 2px;
    transform: rotate(90deg);
    margin: 3rem 2px 3rem 0px;
    border: 2px solid silver;
    border-radius: 5px;
}
hr:hover{
    border: 2px solid var(--primary-color);
}
.socialIcon{
  position: fixed;
  right: 1rem;
  top: 6rem;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}
.btn {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.04rem;
    display: inline-block;
  }
  .btn--svg {
    position: relative;
    height: 70px;
    width: 190px;
    overflow: hidden;
    border-radius: 30px;
  }
  .btn--svg:hover .btn--svg__circle circle {
    transform: scale(0);
  }
  .btn--svg:hover .btn--svg__label {
    color: #fff;
  }
  .btn--svg:hover .btn--svg__border--left path,
  .btn--svg:hover .btn--svg__border--right path {
    stroke-dasharray: 61.8204345703 61.8204345703;
    stroke-dashoffset: 0;
    -webkit-transition-delay: 0.25s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: stroke-dashoffset;
    -moz-transition-delay: 0.25s;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-property: stroke-dashoffset;
    -ms-transition-delay: 0.25s;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: ease-in-out;
    -ms-transition-property: stroke-dashoffset;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
     
  }
  .btn--svg__label {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    z-index: 3;
    width: 100%;
    transition: color 0.5s ease-in-out;
  }
  .btn--svg__circle circle {
    -webkit-transition: transform 0.5s ease-in-out;
    -webkit-transform: scale(1.1);
    -webkit-transform-origin: 50% 50%;
    -moz-transition: transform 0.5s ease-in-out;
    -moz-transform: scale(1.1);
    -moz-transform-origin: 50% 50%;
    -ms-transition: transform 0.5s ease-in-out;
    -ms-transform: scale(1.1);
    -ms-transform-origin: 50% 50%;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
  .btn--svg__border--left path, .btn--svg__border--right path {
    stroke-dasharray: 61.8204345703 61.8204345703;
    -webkit-transition-duration: 0s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: stroke-dashoffset;
    -webkit-transition-delay: 0.5s;
    -moz-transition-duration: 0s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-property: stroke-dashoffset;
    -moz-transition-delay: 0.5s;
    -ms-transition-duration: 0s;
    -ms-transition-timing-function: ease-in-out;
    -ms-transition-property: stroke-dashoffset;
    -ms-transition-delay: 0.5s;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
    transition-delay: 0.5s;
  
  }
  .btn--svg__border--left path {
    stroke-dashoffset: -61.8204345703;
  }
  .btn--svg__border--right path {
    stroke-dashoffset: 61.8204345703;
  }
  .btn--svg svg, .btn--svg__label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: translate(-50%, -50%);
    -moz-transform-origin: 50% 50%;
    -ms-transform: translate(-50%, -50%);
    -ms-transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;

  }
  @media screen and (max-width:770px){
    .home_div{
      width: 100%;
      height: 100vh;
     background-image: url("https://i.postimg.cc/RCLRH1V1/development-4536630-1280.png");
     object-fit: cover;
     background-repeat:no-repeat ;
     background-size: cover;
  }

  .home_content{
      width: 100%;
      height: 100%;
      background-color: rgba(66, 77, 91, 0.9);
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      padding: 40px;
     font-size: 1rem;
  }
 

  .home_content h1{
      font-size: 40px;
      color: var(--primary-color);
  }
  /* .contact_btn{
      width: 100px;
      height: 60px;
      background-color: transparent;
      border: 2px solid var(--beauty-color);
      border-radius: 1rem;
      font-size: 20px;
      color:var(--primary-color);
  }
  .contact_btn:hover{
    border: none;
    background-color: var(--primary-color);
    color: var(--beauty-color);
  } */
  hr{
      width: 70px;
      height: 2px;
      transform: rotate(90deg);
      margin: 3rem 2px 3rem 0px;
      border: 2px solid silver;
      border-radius: 5px;
  }
  hr:hover{
      border: 2px solid var(--primary-color);
  }
  .socialIcon{
    position: fixed;
    right: 1rem;
    top: 6rem;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
  }
  .btn {
      font-size: .7rem;
      line-height: 1em;
      letter-spacing: 0.04em;
      display: inline-block;
    }
    .btn--svg {
      position: relative;
      height: 40px;
      width: 120px;
      overflow: hidden;
      border-radius: 10px;
    
    }
    .btn--svg:hover .btn--svg__circle circle {
      transform: scale(0);
    }
    .btn--svg:hover .btn--svg__label {
      color: #fff;
   
    }
    .btn--svg:hover .btn--svg__border--left path,
    .btn--svg:hover .btn--svg__border--right path {
      stroke-dasharray: 61.8204345703 61.8204345703;
      stroke-dashoffset: 0;
      -webkit-transition-delay: 0.25s;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      -webkit-transition-property: stroke-dashoffset;
      -moz-transition-delay: 0.25s;
      -moz-transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in-out;
      -moz-transition-property: stroke-dashoffset;
      -ms-transition-delay: 0.25s;
      -ms-transition-duration: 0.5s;
      -ms-transition-timing-function: ease-in-out;
      -ms-transition-property: stroke-dashoffset;
      transition-delay: 0.25s;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transition-property: stroke-dashoffset;
       
    }
    .btn--svg__label {
      -webkit-font-smoothing: antialiased;
      font-family: sans-serif;
      font-weight: bold;
      font-size: .7rem;
      text-align: center;
      color: var(--primary-color);
      z-index: 3;
      width: 100%;
      transition: color 0.5s ease-in-out;
    }
    .btn--svg__circle circle {
      -webkit-transition: transform 0.5s ease-in-out;
      -webkit-transform: scale(1.1);
      -webkit-transform-origin: 50% 50%;
      -moz-transition: transform 0.5s ease-in-out;
      -moz-transform: scale(1.1);
      -moz-transform-origin: 50% 50%;
      -ms-transition: transform 0.5s ease-in-out;
      -ms-transform: scale(1.1);
      -ms-transform-origin: 50% 50%;
      transition: transform 0.5s ease-in-out;
      transform: scale(1.1);
      transform-origin: 50% 50%;
    }
    .btn--svg__border--left path, .btn--svg__border--right path {
      stroke-dasharray: 61.8204345703 61.8204345703;
      -webkit-transition-duration: 0s;
      -webkit-transition-timing-function: ease-in-out;
      -webkit-transition-property: stroke-dashoffset;
      -webkit-transition-delay: 0.5s;
      -moz-transition-duration: 0s;
      -moz-transition-timing-function: ease-in-out;
      -moz-transition-property: stroke-dashoffset;
      -moz-transition-delay: 0.5s;
      -ms-transition-duration: 0s;
      -ms-transition-timing-function: ease-in-out;
      -ms-transition-property: stroke-dashoffset;
      -ms-transition-delay: 0.5s;
      transition-duration: 0s;
      transition-timing-function: ease-in-out;
      transition-property: stroke-dashoffset;
      transition-delay: 0.5s;
    
    }
    .btn--svg__border--left path {
      stroke-dashoffset: -61.8204345703;
    }
    .btn--svg__border--right path {
      stroke-dashoffset: 61.8204345703;
    }
    .btn--svg svg, .btn--svg__label {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -webkit-transform-origin: 50% 50%;
      -moz-transform: translate(-50%, -50%);
      -moz-transform-origin: 50% 50%;
      -ms-transform: translate(-50%, -50%);
      -ms-transform-origin: 50% 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
  
    } 
    .btn--svg__border{
      width: 120px;
      height: 40px;
    }
  }